.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 16px;
}

.post-form-container {
    width: 100%;
    max-width: 1000px; /* Form genişliği ayarla */
    margin-bottom: 16px; /* PostForm ile Post arasında boşluk bırak */
}

.post-list {
    width: 100%;
    max-width: 1000px; /* Post genişliği ayarla */
}

.card {
    margin: 16px 0; /* Post bileşenleri arasında boşluk bırak */
}
